{% load custom_tags %}
{% load humanize %}

<a href="/rates">
    <h1>Back</h1>
</a>

<form method="post">
  {% csrf_token %}
  <div>
    {{ form.copay.label_tag }} {{ form.copay }}
  </div>
  <div>
    {{ form.asat_date.label_tag }} {{ form.asat_date }}
  </div>
  <button type="submit">Submit</button>
</form>




<hr>
<h3>New Business & Renewal Premiums</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>UW Month</th>
      <th>GWP</th>
      <th>Re-rated GWP</th>
      <th>Rate Change</th>
    </tr>
  </thead>
  <tbody>
    {% for row in sum_pols %}
    <tr>
      <td>{{ row.inception_month|floatformat:2 }}</td>
      <td>{{ row.gwp|floatformat:0|intcomma }}</td>
      <td>{{ row.re_rated_gwp|floatformat:0|intcomma }}</td>
      <td>{{ row.rate_change|percent:1 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>